section {
    height: 100px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    height: 80px;
    width: 5px;
    margin: 0 10px;
    background: red;
    animation: wave 1s infinite;
}

div:nth-child(2) {
    animation-delay: 0.1s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}