/* element selector*/
h1{
    color:red;
}

/* id  selector */
#h11{
    background-color: black;
}

/* class selector */
.shubh{
    text-align: center;
}

/* Universal selector  */
*{
    background: teal;
}

/* grouping selector */
#h41,.para,section{
    font-weight: 900;
}
